</body>
	<footer id="footer">
		<a href="mailto:themagnificentself@gmail.com"><i class="contact far fa-envelope"></i></a>
		<a href="https://www.instagram.com/themagnificentself/?hl=en"><i class="contact fab fa-instagram"></i></a>
		<a href="https://www.facebook.com/TheMagnificentSelf/"><i class="contact fab fa-facebook-square"></i></a>
		<a href="https://twitter.com/SelfMagnificent"><i class="contact fab fa-twitter"></i></a>
		<p>© Copyright 2020 poopydoopy</p>
	</footer>
</html>