<%- include("partials/header"); -%>

<section id="about">
    <div class="container-fluid greeting">
		<div class="row"> <!--bootstrap row-->
			<div class="col-lg-6">
				<img class="profile" src="/images/profile.jpg" alt="profile">
			</div>
			<div class="col-lg-6"> <!--column changes size depending on viewport, 12 spaces total-->
				<h5>
                Hello. My name is Justin.
                <br>
                <br>
                I am a Self-Actualization Coach/Speaker and this website will be dedicated towards and focused on the encouragement for growth, development, discovery, exploration, connection and realization of our True Core Self, or as I like to put it, our each individual Inner-Magnificence.
                <br>
                <br>
                <br>
                Email me or check me out on social media!
				</h5>
				<a href="https://www.facebook.com/TheMagnificentSelf/"><button type="button" class="btn btn-success btn-lg"><i class="fab fa-facebook-square"></i></button></a>
				<a href="https://twitter.com/SelfMagnificent"><button type="button" class="btn btn-success btn-lg"><i class="fab fa-twitter"></i></button></a>
				<a href="https://www.youtube.com/channel/UCH2avWv2HYoZlU_IBBqOrSQ"><button type="button" class="btn btn-success btn-lg"><i class="fab fa-youtube"></i></button></a>
				<a href="https://www.instagram.com/themagnificentself/?hl=en"><button type="button" class="btn btn-success btn-lg"><i class="fab fa-instagram"></i></button></a>
				<a href="mailto:themagnificentself@gmail.com"><button type="button" class="btn btn-success btn-lg"><i class="far fa-envelope"></i></button></a>
			</div>
		</div>
    </div>
</section>

<%- include("partials/footer"); -%>