<%- include("partials/header"); -%>

<section id="media">
    <div class="container-fluid greeting">
        <h1>Check out some of my videos!</h1>
        <div class="row"> <!--bootstrap row-->
			<div class="col-lg-6"> <!--column changes size depending on viewport, 12 spaces total-->
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PHaF9yDeyQI" allowfullscreen></iframe>
				</div>
				<h6>Gratitude is an important tool to use to get yourself refocused, realigned & present though. It's about holding reverence for yourself and life around you. Gratitude can also be used to help shift perspective when things get heavy or dark.</h6>
			</div>
			<div class="col-lg-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uSubavsHX6s" allowfullscreen></iframe>
				</div>
				<h6>What do you carry around with you in your day to day life that weighs on you? What is that crippling, immobilizing feeling that has affected you for sometime? Whatever it is, can you learn to drop it?</h6>
			</div>
        </div>
    </div>
</section>

<%- include("partials/footer"); -%>
