<%- include("partials/header"); -%>

<section id="pricing">
    <h2>A Plan for Everyones Needs</h2>
    <p>Simple and affordable price plans for you.</p>
    <div class="pricePlans row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
            <div class="card-header">
                <h3>Pay Per Call</h3>
            </div>
            <div class="card-body">
                <h2>$55</h2>
                <p>Phone or Video Call</p>
                <p>No obligations, no pressures, just enlightentment</p>
                <p>Great for people with busy schedules!</p>
                <a href="/schedule"><button type="button" class="btn btn-success btn-lg btn-block">Book Now</button></a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
            <div class="card-header">
                <h3>3 Call Term</h3>
            </div>
            <div class="card-body">
                <h2>$150</h2>
                <p>Phone or Video Call</p>
                <p>The most popular option for my clients.</p>
                <p>Save $15. Pay up front or in installments.</p>
                <a href="/schedule"><button type="button" class="btn btn-success btn-lg btn-block">Book Now</button></a>
            </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
            <div class="card-header">
                <h3>6 Call Term</h3>
            </div>
            <div class="card-body">
                <h2>$250</h2>
                <p>Phone or Video Call</p>
                <p>Commitment is hard, but it's how results are made.</p>
                <p>Save $50! Pay up front or in installments.</p>
                <a href="/schedule"><button type="button" class="btn btn-success btn-lg btn-block">Book Now</button></a>
            </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer"); -%>